@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Button related styles */
.btn {
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(90deg, #ff4b2b, #7141ff);
  color: #fff;
  text-decoration: none;
}
/* navbar related styles */

.logo {
  font-weight: 700;
  background: linear-gradient(90deg, #ff5fa2, #6ecbff);
  background-clip: text;
  color: transparent;
}

.navbar {
  max-width: 100%;
  height: 92px;
  margin: 0 auto;
  padding: 25px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a0b2e;
}
.navbar h1 {
  color: white;
}
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

/* Hero section related styles */

.banner {
  max-width: 100%;
  height: 760px;
  margin: 0 auto;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.microphone-img {
  position: absolute;
  width: 130px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge {
  position: absolute;
  top: 20px;
  right: -15px;
  background: #00ff9c;
  color: #000;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.banner h1 {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 10px;
}

.banner p {
  color: rgb(212, 206, 206);
  font-size: 14px;
  margin-bottom: 25px;
}

/* about related styles */

.about {
  background-color: #1a0b2e;
  padding: 80px 20px;
  color: #fff;
}

.about-container-first {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about-container-first h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

.about-container-first p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfc9d8;
}

.line-break {
  width: 80%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 60px auto;
}

.about-container-secound {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 100%;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.item h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1cff9b;
}

.item p {
  font-size: 13px;
  color: #cfc9d8;
  margin: 0;
}

/* premium box styles */

.techwave {
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(180deg, #1a082e, #2a0a4a);
  color: white;
}

.techwave h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 60px;
}

.techwave-container {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(220px, auto);
  gap: 28px;
}

.card {
  background: rgba(255, 255, 255, 0.04);
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 24px;
}

.card h3 {
  font-size: 22px;
  margin: 15px 0 10px;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
  color: #cfc3e6;
}

.first-card {
  grid-row: span 2;
}

.second-card {
  grid-column: span 1;
}
.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
