@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Button related styles */
.btn {
  color: white;
  text-decoration: none;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(90deg, #ff4b2b, #7141ff);
}
/* navbar related styles */

.logo {
  font-weight: 700;
  background: linear-gradient(90deg, #ff5fa2, #6ecbff);
  background-clip: text;
  color: transparent;
}

.navbar {
  background-color: #1a0b2e;
  max-width: 100%;
  height: 76px;
  margin: 0 auto;
  padding: 25px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar h1 {
  color: white;
}
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.hamburger {
  display: none;
}

/* banner section related styles */

.banner {
  background-image: url("../assets/hero-bg.png");
  max-width: 100%;
  height: 760px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 280px;
  height: 280px;
  margin: 0 auto 30px;
}

.circle-img {
  width: 100%;
  height: 100%;
}

.microphone-img {
  position: absolute;
  width: 130px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge {
  background: #00ff9c;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  top: 20px;
  right: -15px;
  position: absolute;
  padding: 6px 16px;
  border-radius: 20px;
}

.banner h1 {
  color: white;
  font-size: 48px;
  margin-bottom: 10px;
}

.banner p {
  color: #cfc9d8;
  font-size: 14px;
  margin-bottom: 25px;
}

/* about related styles */

.about {
  background-color: #1a0b2e;
  padding: 80px 20px;
  color: white;
}

.about-container-first {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about-container-first h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

.about-container-first p {
  color: #cfc9d8;
  font-size: 14px;
  line-height: 1.6;
}

.line-break {
  width: 80%;
  height: 1px;
  background: white;
  opacity: 30%;
  margin: 60px auto;
}

.about-container-secound {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.item h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1cff9b;
}

.item p {
  font-size: 13px;
  color: #cfc9d8;
}

/* premium box styles */

.techwave {
  width: 100%;
  padding: 100px 0;
  background: #230e3d;
  color: white;
}

.techwave h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 60px;
}

.techwave-container {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 28px;
}

.card {
  padding: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #3c156fca;
  border-radius: 24px;
}

.card h3 {
  font-size: 22px;
  margin: 15px 0 10px;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
  color: #cfc3e6;
}

.first-card {
  grid-row: span 2;
}

.second-card {
  grid-column: span 1;
}
.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* featured section styles */

.featured {
  background: #1a0b2e;
  padding: 80px 8%;
  color: white;
}

.featured h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.featured-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.featured-item {
  background: #1f043a;
  border-radius: 18px;
  padding: 15px;
}

.featured-item iframe {
  width: 100%;
  height: 200px;
  border-radius: 14px;
  border: none;
}

.featured-item h3 {
  font-size: 20px;
  margin: 15px 0 8px;
}

.featured-item p {
  font-size: 14px;
  line-height: 1.6;
}

.featured-item span {
  display: block;
  margin-top: 10px;
  color: #00ff88;
  font-weight: 600;
}
/* host section styles */

.host-section {
  text-align: center;
  background: #1a0b2e;
  padding: 80px 20px;
}

.host-section h2 {
  color: white;
  font-size: 32px;
  margin-bottom: 60px;
}

.host-card {
  display: flex;
  gap: 30px;
  align-items: center;
  background: #2a124b;
  max-width: 900px;
  margin: auto;
  padding: 40px;
  border-radius: 20px;
}

.host-img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.host-content {
  text-align: left;
}

.host-content h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.host-content p {
  color: #cfc6e0;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 5px;
}

/* footer styles */

.footer-section {
  height: 412px;
  background: url("../assets/footer-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-section h1 {
  margin-bottom: 20px;
}

.footer-item ul {
  list-style: none;
  margin: 0 0 20px 0;
  display: flex;
  gap: 25px;
}

.footer-item ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #cfc3e6;
}

.footer-item ul li img {
  width: 20px;
}

.footer-section p {
  margin-bottom: 10px;
  color: #cfc3e6;
}

.footer-section h1 {
  color: white;
  font-size: 3rem;
}

/* responsive section styles */

@media screen and (max-width: 576px) {
  .navbar {
    padding: 20px;
  }

  .nav-links,
  .navbar .btn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .banner {
    height: auto;
    padding: 80px 20px;
  }

  .banner h1 {
    font-size: 36px;
  }

  .about-container-secound {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .techwave-container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .first-card {
    grid-row: span 1;
  }

  .featured-content {
    grid-template-columns: 1fr;
  }

  .host-card {
    flex-direction: column;
    text-align: center;
  }

  .host-content {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-item ul {
    flex-direction: column;
    gap: 15px;
  }

  .footer-section {
    height: auto;
    padding: 60px 20px;
  }
}

@media screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .nav-links,
  .navbar .btn {
    display: flex;
  }
}
